<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>effect06_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,235},{162,165}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{162.00,165.00}</string>
      </dict>
      <key>effect06_0001</key>
      <dict>
        <key>frame</key>
        <string>{{496,222},{85,78}}</string>
        <key>offset</key>
        <string>{0.23,0.00}</string>
        <key>sourceSize</key>
        <string>{85.45,78.00}</string>
      </dict>
      <key>effect06_0002</key>
      <dict>
        <key>frame</key>
        <string>{{451,357},{85,78}}</string>
        <key>offset</key>
        <string>{-0.22,0.00}</string>
        <key>sourceSize</key>
        <string>{85.45,78.00}</string>
      </dict>
      <key>effect06_0003</key>
      <dict>
        <key>frame</key>
        <string>{{451,437},{85,78}}</string>
        <key>offset</key>
        <string>{0.23,0.00}</string>
        <key>sourceSize</key>
        <string>{85.45,78.00}</string>
      </dict>
      <key>effect06_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{432,232}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{432.00,232.00}</string>
      </dict>
      <key>effect06_0005</key>
      <dict>
        <key>frame</key>
        <string>{{165,235},{113,87}}</string>
        <key>offset</key>
        <string>{0.10,1.60}</string>
        <key>sourceSize</key>
        <string>{114.20,92.00}</string>
      </dict>
      <key>effect06_0006</key>
      <dict>
        <key>frame</key>
        <string>{{232,413},{108,84}}</string>
        <key>offset</key>
        <string>{0.00,2.05}</string>
        <key>sourceSize</key>
        <string>{114.20,92.00}</string>
      </dict>
      <key>effect06_0007</key>
      <dict>
        <key>frame</key>
        <string>{{232,324},{112,87}}</string>
        <key>offset</key>
        <string>{0.40,0.55}</string>
        <key>sourceSize</key>
        <string>{114.20,92.00}</string>
      </dict>
      <key>effect06_0008</key>
      <dict>
        <key>frame</key>
        <string>{{117,402},{113,89}}</string>
        <key>offset</key>
        <string>{0.00,-0.05}</string>
        <key>sourceSize</key>
        <string>{114.20,92.00}</string>
      </dict>
      <key>effect06_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,402},{114,91}}</string>
        <key>offset</key>
        <string>{0.10,-0.05}</string>
        <key>sourceSize</key>
        <string>{114.20,92.00}</string>
      </dict>
      <key>effect06_0010</key>
      <dict>
        <key>frame</key>
        <string>{{342,413},{107,92}}</string>
        <key>offset</key>
        <string>{-3.60,0.00}</string>
        <key>sourceSize</key>
        <string>{114.20,92.00}</string>
      </dict>
      <key>effect06_0011</key>
      <dict>
        <key>frame</key>
        <string>{{435,144},{102,76}}</string>
        <key>offset</key>
        <string>{-0.25,3.20}</string>
        <key>sourceSize</key>
        <string>{114.20,92.00}</string>
      </dict>
      <key>effect06_0012</key>
      <dict>
        <key>frame</key>
        <string>{{435,1},{106,80}}</string>
        <key>offset</key>
        <string>{0.25,2.80}</string>
        <key>sourceSize</key>
        <string>{114.20,92.00}</string>
      </dict>
      <key>effect06_0013</key>
      <dict>
        <key>frame</key>
        <string>{{280,235},{106,59}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{106.00,59.00}</string>
      </dict>
      <key>effect06_0014</key>
      <dict>
        <key>frame</key>
        <string>{{388,235},{106,59}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{106.00,59.00}</string>
      </dict>
      <key>effect06_0015</key>
      <dict>
        <key>frame</key>
        <string>{{435,83},{106,59}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{106.00,59.00}</string>
      </dict>
      <key>effect06_0016</key>
      <dict>
        <key>frame</key>
        <string>{{346,296},{106,59}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{106.00,59.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>effect06.png</string>
      <key>realTextureFileName</key>
      <string>effect06.png</string>
      <key>textureFileName</key>
      <string>effect06.png</string>
      <key>size</key>
      <string>{634,534}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>page1</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>-0.05062</real>
        <key>anchorY</key>
        <real>0.73667</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>playbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.20597</real>
        <key>anchorY</key>
        <real>0.87179</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>3</integer>
        <key>labels</key>
        <dict>
          <key>disabled</key>
          <dict>
            <key>start</key>
            <integer>2</integer>
            <key>end</key>
            <integer>2</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
      </dict>
      <key>cloud</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.10880</real>
        <key>anchorY</key>
        <real>0.90517</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>showicon</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.14317</real>
        <key>anchorY</key>
        <real>0.79130</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>stars</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.12689</real>
        <key>anchorY</key>
        <real>0.93814</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>level2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,882.90,3305.25</string>
        <key>anchorX</key>
        <real>0.16599</real>
        <key>anchorY</key>
        <real>0.01201</real>
        <key>children</key>
        <dict>
          <key>cloud60</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>53</integer>
            <key>frames</key>
            <string>492.90,1956.55,0.00,1.00000,1.00000,1.00,53,0.00,0.00</string>
          </dict>
          <key>btnlevel72</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>33</integer>
            <key>frames</key>
            <string>628.95,2458.60,0.00,1.00000,1.00000,1.00,33,0.00,0.00</string>
          </dict>
          <key>btnlevel57</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>18</integer>
            <key>frames</key>
            <string>695.40,1444.50,0.00,1.00000,1.00000,1.00,18,0.00,0.00</string>
          </dict>
          <key>cloud65</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>48</integer>
            <key>frames</key>
            <string>65.15,2111.55,0.00,1.00000,1.00000,1.00,48,0.00,0.00</string>
          </dict>
          <key>btnlevel46</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>375.40,401.15,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>cloud67</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>61</integer>
            <key>frames</key>
            <string>47.00,2307.55,0.00,1.00000,1.00000,1.00,61,0.00,0.00</string>
          </dict>
          <key>btnlevel45</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>258.15,344.70,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>btnlevel47</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>501.85,436.85,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>btnlevel59</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>20</integer>
            <key>frames</key>
            <string>469.00,1573.95,0.00,1.00000,1.00000,1.00,20,0.00,0.00</string>
          </dict>
          <key>cloud68</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>49</integer>
            <key>frames</key>
            <string>149.95,2503.45,0.00,1.00000,1.00000,1.00,49,0.00,0.00</string>
          </dict>
          <key>btnlevel58</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>19</integer>
            <key>frames</key>
            <string>609.80,1544.70,0.00,1.00000,1.00000,1.00,19,0.00,0.00</string>
          </dict>
          <key>btnlevel60</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>21</integer>
            <key>frames</key>
            <string>342.75,1582.00,0.00,1.00000,1.00000,1.00,21,0.00,0.00</string>
          </dict>
          <key>cloud70</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>54</integer>
            <key>frames</key>
            <string>361.00,2655.45,0.00,1.00000,1.00000,1.00,54,0.00,0.00</string>
          </dict>
          <key>btnlevel61</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>22</integer>
            <key>frames</key>
            <string>214.15,1602.40,0.00,1.00000,1.00000,1.00,22,0.00,0.00</string>
          </dict>
          <key>cloud73</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>50</integer>
            <key>frames</key>
            <string>416.90,2814.60,0.00,1.00000,1.00000,1.00,50,0.00,0.00</string>
          </dict>
          <key>btnlevel44</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>214.15,233.85,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>btnlevel62</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>23</integer>
            <key>frames</key>
            <string>226.35,1719.85,0.00,1.00000,1.00000,1.00,23,0.00,0.00</string>
          </dict>
          <key>cloud75</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>51</integer>
            <key>frames</key>
            <string>196.50,2929.85,0.00,1.00000,1.00000,1.00,51,0.00,0.00</string>
          </dict>
          <key>btnlevel43</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>238.00,112.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>btnlevel63</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>24</integer>
            <key>frames</key>
            <string>367.75,1767.20,0.00,1.00000,1.00000,1.00,24,0.00,0.00</string>
          </dict>
          <key>cloud63</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>47</integer>
            <key>frames</key>
            <string>293.05,1992.50,0.00,1.00000,1.00000,1.00,47,0.00,0.00</string>
          </dict>
          <key>btnlevel42</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>334.30,45.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>btnlevel48</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>613.90,522.60,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>btnlevel64</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>25</integer>
            <key>frames</key>
            <string>521.00,1797.15,0.00,1.00000,1.00000,1.00,25,0.00,0.00</string>
          </dict>
          <key>btnlevel65</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>26</integer>
            <key>frames</key>
            <string>662.05,1826.00,0.00,1.00000,1.00000,1.00,26,0.00,0.00</string>
          </dict>
          <key>cloud78</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>56</integer>
            <key>frames</key>
            <string>458.45,3274.40,0.00,1.00000,1.00000,1.00,56,0.00,0.00</string>
          </dict>
          <key>btnlevel66</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>27</integer>
            <key>frames</key>
            <string>654.05,2000.65,0.00,1.00000,1.00000,1.00,27,0.00,0.00</string>
          </dict>
          <key>pagebtn</key>
          <dict>
            <key>class</key>
            <string>page1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>608.75,162.20,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>btnlevel67</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>28</integer>
            <key>frames</key>
            <string>505.95,2074.80,0.00,1.00000,1.00000,1.00,28,0.00,0.00</string>
          </dict>
          <key>showseleceticon</key>
          <dict>
            <key>class</key>
            <string>showicon</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>651.75,238.75,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>btnlevel68</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>29</integer>
            <key>frames</key>
            <string>326.15,2094.40,0.00,1.00000,1.00000,1.00,29,0.00,0.00</string>
          </dict>
          <key>btnlevel69</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>30</integer>
            <key>frames</key>
            <string>226.35,2201.40,0.00,1.00000,1.00000,1.00,30,0.00,0.00</string>
          </dict>
          <key>cloud77</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>55</integer>
            <key>frames</key>
            <string>149.85,3283.25,0.00,1.00000,1.00000,1.00,55,0.00,0.00</string>
          </dict>
          <key>btnlevel70</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>31</integer>
            <key>frames</key>
            <string>322.10,2332.35,0.00,1.00000,1.00000,1.00,31,0.00,0.00</string>
          </dict>
          <key>cloud76</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>52</integer>
            <key>frames</key>
            <string>102.30,3087.90,0.00,1.00000,1.00000,1.00,52,0.00,0.00</string>
          </dict>
          <key>btnlevel71</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>32</integer>
            <key>frames</key>
            <string>469.00,2389.15,0.00,1.00000,1.00000,1.00,32,0.00,0.00</string>
          </dict>
          <key>cloud47</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>43</integer>
            <key>frames</key>
            <string>454.00,846.90,0.00,1.00000,1.00000,1.00,43,0.00,0.00</string>
          </dict>
          <key>btnlevel41</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>475.70,8.85,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>btnlevel73</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>34</integer>
            <key>frames</key>
            <string>623.80,2660.00,0.00,1.00000,1.00000,1.00,34,0.00,0.00</string>
          </dict>
          <key>btnlevel56</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>17</integer>
            <key>frames</key>
            <string>671.75,1290.85,0.00,1.00000,1.00000,1.00,17,0.00,0.00</string>
          </dict>
          <key>btnlevel74</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>35</integer>
            <key>frames</key>
            <string>448.70,2660.00,0.00,1.00000,1.00000,1.00,35,0.00,0.00</string>
          </dict>
          <key>btnlevel75</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>36</integer>
            <key>frames</key>
            <string>274.45,2635.30,0.00,1.00000,1.00000,1.00,36,0.00,0.00</string>
          </dict>
          <key>btnlevel76</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>37</integer>
            <key>frames</key>
            <string>205.85,2737.30,0.00,1.00000,1.00000,1.00,37,0.00,0.00</string>
          </dict>
          <key>btnlevel77</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>38</integer>
            <key>frames</key>
            <string>258.15,2893.05,0.00,1.00000,1.00000,1.00,38,0.00,0.00</string>
          </dict>
          <key>btnlevel78</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>39</integer>
            <key>frames</key>
            <string>375.40,2963.25,0.00,1.00000,1.00000,1.00,39,0.00,0.00</string>
          </dict>
          <key>btnlevel79</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>40</integer>
            <key>frames</key>
            <string>515.85,3030.20,0.00,1.00000,1.00000,1.00,40,0.00,0.00</string>
          </dict>
          <key>btnlevel80</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>41</integer>
            <key>frames</key>
            <string>605.80,3175.65,0.00,1.00000,1.00000,1.00,41,0.00,0.00</string>
          </dict>
          <key>cloud43</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>42</integer>
            <key>frames</key>
            <string>210.95,679.95,0.00,1.00000,1.00000,1.00,42,0.00,0.00</string>
          </dict>
          <key>btnlevel55</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>569.80,1191.20,0.00,1.00000,1.00000,1.00,16,0.00,0.00</string>
          </dict>
          <key>cloud49</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>58</integer>
            <key>frames</key>
            <string>394.00,1010.65,0.00,1.00000,1.00000,1.00,58,0.00,0.00</string>
          </dict>
          <key>btnlevel54</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>430.05,1141.15,0.00,1.00000,1.00000,1.00,15,0.00,0.00</string>
          </dict>
          <key>cloud52</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>44</integer>
            <key>frames</key>
            <string>136.45,1143.20,0.00,1.00000,1.00000,1.00,44,0.00,0.00</string>
          </dict>
          <key>btnlevel53</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>288.60,1104.25,0.00,1.00000,1.00000,1.00,14,0.00,0.00</string>
          </dict>
          <key>btnlevel52</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>201.20,1003.45,0.00,1.00000,1.00000,1.00,13,0.00,0.00</string>
          </dict>
          <key>cloud54</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>59</integer>
            <key>frames</key>
            <string>141.05,1344.60,0.00,1.00000,1.00000,1.00,59,0.00,0.00</string>
          </dict>
          <key>btnlevel51</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>288.60,705.60,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>cloud56</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>45</integer>
            <key>frames</key>
            <string>397.35,1442.20,0.00,1.00000,1.00000,1.00,45,0.00,0.00</string>
          </dict>
          <key>cloud57</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>46</integer>
            <key>frames</key>
            <string>441.00,1618.50,0.00,1.00000,1.00000,1.00,46,0.00,0.00</string>
          </dict>
          <key>btnlevel50</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>434.10,675.90,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>cloud58</key>
          <dict>
            <key>class</key>
            <string>cloud</string>
            <key>zIndex</key>
            <integer>60</integer>
            <key>frames</key>
            <string>478.00,1793.60,0.00,1.00000,1.00000,1.00,60,0.00,0.00</string>
          </dict>
          <key>btnlevel49</key>
          <dict>
            <key>class</key>
            <string>levelcheckbox</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>569.80,644.05,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>levelcheckbox</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,107.95,121.45</string>
        <key>anchorX</key>
        <real>0.12923</real>
        <key>anchorY</key>
        <real>0.07287</real>
        <key>children</key>
        <dict>
          <key>levelbtn</key>
          <dict>
            <key>class</key>
            <string>playbtn</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>24.05,110.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>levelText</key>
          <dict>
            <key>class</key>
            <string>LevelFont</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>18.05,105.00,0.00,0.95000,0.95000,1.00,2,0.00,0.00,微软雅黑 Bold,28,#C54317,center,71,45</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>startslist</key>
          <dict>
            <key>class</key>
            <string>stars</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>14.45,56.10,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>