<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gemmove_0000</key>
      <dict>
        <key>frame</key>
        <string>{{82,305},{79,86}}</string>
        <key>offset</key>
        <string>{0.05,-10.43}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,220},{79,86}}</string>
        <key>offset</key>
        <string>{0.05,-10.43}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,308},{79,86}}</string>
        <key>offset</key>
        <string>{0.05,-10.43}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{90,71}}</string>
        <key>offset</key>
        <string>{0.00,-18.18}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,74},{90,71}}</string>
        <key>offset</key>
        <string>{0.00,-18.18}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,147},{90,71}}</string>
        <key>offset</key>
        <string>{0.00,-18.18}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0006</key>
      <dict>
        <key>frame</key>
        <string>{{163,265},{76,81}}</string>
        <key>offset</key>
        <string>{-0.50,-13.27}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0007</key>
      <dict>
        <key>frame</key>
        <string>{{93,89},{76,84}}</string>
        <key>offset</key>
        <string>{-0.50,-11.43}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0008</key>
      <dict>
        <key>frame</key>
        <string>{{163,175},{76,88}}</string>
        <key>offset</key>
        <string>{-0.50,-9.12}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0009</key>
      <dict>
        <key>frame</key>
        <string>{{241,107},{75,106}}</string>
        <key>offset</key>
        <string>{0.15,0.77}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0010</key>
      <dict>
        <key>frame</key>
        <string>{{174,1},{75,104}}</string>
        <key>offset</key>
        <string>{0.15,-0.57}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0011</key>
      <dict>
        <key>frame</key>
        <string>{{241,215},{75,100}}</string>
        <key>offset</key>
        <string>{0.15,-2.87}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0012</key>
      <dict>
        <key>frame</key>
        <string>{{93,1},{79,86}}</string>
        <key>offset</key>
        <string>{0.05,-10.43}</string>
        <key>sourceSize</key>
        <string>{90.00,107.55}</string>
      </dict>
      <key>gemmove_0013</key>
      <dict>
        <key>frame</key>
        <string>{{82,220},{79,83}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{79.00,83.00}</string>
      </dict>
      <key>gemmove_0014</key>
      <dict>
        <key>frame</key>
        <string>{{1,396},{63,11}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{63.00,11.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>gemmove.png</string>
      <key>realTextureFileName</key>
      <string>gemmove.png</string>
      <key>textureFileName</key>
      <string>gemmove.png</string>
      <key>size</key>
      <string>{392,410}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>gemmove</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48556</real>
        <key>anchorY</key>
        <real>0.03719</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>mcgemmove1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48228</real>
        <key>anchorY</key>
        <real>0.00783</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>mcgemmove5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50714</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
    </dict>
  </dict>
</plist>