<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>level1bg3_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,272},{640,269}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,269.00}</string>
      </dict>
      <key>level1bg3_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,543},{640,269}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,269.00}</string>
      </dict>
      <key>level1bg3_0002</key>
      <dict>
        <key>frame</key>
        <string>{{643,1},{640,269}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,269.00}</string>
      </dict>
      <key>level1bg3_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{640,269}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,269.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>level1bg3.png</string>
      <key>realTextureFileName</key>
      <string>level1bg3.png</string>
      <key>textureFileName</key>
      <string>level1bg3.png</string>
      <key>size</key>
      <string>{1342,972}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>bgl3_1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00156</real>
        <key>anchorY</key>
        <real>-0.00372</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>bgl3_2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00156</real>
        <key>anchorY</key>
        <real>-0.00372</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>bgl3_3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00156</real>
        <key>anchorY</key>
        <real>-0.00372</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>bgl3_4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00156</real>
        <key>anchorY</key>
        <real>-0.00372</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
    </dict>
  </dict>
</plist>