<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>levelPack_0000</key>
      <dict>
        <key>frame</key>
        <string>{{442,553},{99,63}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{99.00,63.00}</string>
      </dict>
      <key>levelPack_0001</key>
      <dict>
        <key>frame</key>
        <string>{{167,689},{125,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{125.00,23.00}</string>
      </dict>
      <key>levelPack_0002</key>
      <dict>
        <key>frame</key>
        <string>{{167,664},{145,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{145.00,23.00}</string>
      </dict>
      <key>levelPack_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,714},{163,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{163.00,23.00}</string>
      </dict>
      <key>levelPack_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,639},{164,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{164.00,23.00}</string>
      </dict>
      <key>levelPack_0005</key>
      <dict>
        <key>frame</key>
        <string>{{166,714},{163,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{163.00,23.00}</string>
      </dict>
      <key>levelPack_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,664},{164,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{164.00,23.00}</string>
      </dict>
      <key>levelPack_0007</key>
      <dict>
        <key>frame</key>
        <string>{{167,639},{163,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{163.00,23.00}</string>
      </dict>
      <key>levelPack_0008</key>
      <dict>
        <key>frame</key>
        <string>{{523,172},{77,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{77.00,65.00}</string>
      </dict>
      <key>levelPack_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,689},{164,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{164.00,23.00}</string>
      </dict>
      <key>levelPack_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{520,550}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{520.00,550.00}</string>
      </dict>
      <key>levelPack_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,553},{439,84}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{439.00,84.00}</string>
      </dict>
      <key>levelPack_0012</key>
      <dict>
        <key>frame</key>
        <string>{{436,639},{100,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{100.00,65.00}</string>
      </dict>
      <key>levelPack_0013</key>
      <dict>
        <key>frame</key>
        <string>{{523,104},{88,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{88.00,66.00}</string>
      </dict>
      <key>levelPack_0014</key>
      <dict>
        <key>frame</key>
        <string>{{436,706},{47,45}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{47.00,45.00}</string>
      </dict>
      <key>levelPack_0015</key>
      <dict>
        <key>frame</key>
        <string>{{331,664},{103,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{103.00,61.00}</string>
      </dict>
      <key>levelPack_0016</key>
      <dict>
        <key>frame</key>
        <string>{{523,293},{72,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{72.00,61.00}</string>
      </dict>
      <key>levelPack_0017</key>
      <dict>
        <key>frame</key>
        <string>{{523,1},{89,101}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{89.00,101.00}</string>
      </dict>
      <key>levelPack_0018</key>
      <dict>
        <key>frame</key>
        <string>{{523,454},{27,26}}</string>
        <key>offset</key>
        <string>{-1.50,-2.50}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0019</key>
      <dict>
        <key>frame</key>
        <string>{{516,706},{29,33}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0020</key>
      <dict>
        <key>frame</key>
        <string>{{552,488},{23,32}}</string>
        <key>offset</key>
        <string>{-1.50,0.50}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0021</key>
      <dict>
        <key>frame</key>
        <string>{{543,551},{27,33}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0022</key>
      <dict>
        <key>frame</key>
        <string>{{538,653},{27,33}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0023</key>
      <dict>
        <key>frame</key>
        <string>{{485,706},{29,31}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0024</key>
      <dict>
        <key>frame</key>
        <string>{{523,516},{27,33}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0025</key>
      <dict>
        <key>frame</key>
        <string>{{523,482},{27,32}}</string>
        <key>offset</key>
        <string>{-0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0026</key>
      <dict>
        <key>frame</key>
        <string>{{547,688},{27,32}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0027</key>
      <dict>
        <key>frame</key>
        <string>{{538,618},{27,33}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0028</key>
      <dict>
        <key>frame</key>
        <string>{{552,454},{27,32}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{30.00,33.00}</string>
      </dict>
      <key>levelPack_0029</key>
      <dict>
        <key>frame</key>
        <string>{{523,356},{64,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,96.00}</string>
      </dict>
      <key>levelPack_0030</key>
      <dict>
        <key>frame</key>
        <string>{{523,239},{73,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{73.00,52.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>levelPack.png</string>
      <key>realTextureFileName</key>
      <string>levelPack.png</string>
      <key>textureFileName</key>
      <string>levelPack.png</string>
      <key>size</key>
      <string>{622,752}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.39242</real>
        <key>anchorY</key>
        <real>0.55794</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.58120</real>
        <key>anchorY</key>
        <real>0.36087</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.57000</real>
        <key>anchorY</key>
        <real>0.36087</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.57331</real>
        <key>anchorY</key>
        <real>0.36087</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.56982</real>
        <key>anchorY</key>
        <real>0.36087</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.57331</real>
        <key>anchorY</key>
        <real>0.36087</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.56982</real>
        <key>anchorY</key>
        <real>0.36087</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.57331</real>
        <key>anchorY</key>
        <real>0.36087</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.56982</real>
        <key>anchorY</key>
        <real>0.36087</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51337</real>
        <key>anchorY</key>
        <real>0.53055</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51082</real>
        <key>anchorY</key>
        <real>0.45476</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.29450</real>
        <key>anchorY</key>
        <real>0.43923</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.33466</real>
        <key>anchorY</key>
        <real>0.47803</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47872</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.29903</real>
        <key>anchorY</key>
        <real>0.65656</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>bombbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.17361</real>
        <key>anchorY</key>
        <real>0.77213</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
      </dict>
      <key>closebt</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.49438</real>
        <key>anchorY</key>
        <real>0.48515</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>sdad5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>29</integer>
        <key>end</key>
        <integer>29</integer>
      </dict>
      <key>stepbtn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.32603</real>
        <key>anchorY</key>
        <real>0.84038</real>
        <key>start</key>
        <integer>30</integer>
        <key>end</key>
        <integer>30</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>8</integer>
        <key>rect</key>
        <string>0,0,211.20,35.00</string>
        <key>anchorX</key>
        <real>0.54830</real>
        <key>anchorY</key>
        <real>0.50714</real>
        <key>children</key>
        <dict>
          <key>i292389</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||117.20,17.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>i292395</key>
          <dict>
            <key>class</key>
            <string>asset18</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||116.45,17.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i292391</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||116.45,17.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i292397</key>
          <dict>
            <key>class</key>
            <string>asset19</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||116.45,17.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i292399</key>
          <dict>
            <key>class</key>
            <string>asset20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||116.45,17.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i292167</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>117.30,17.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||</string>
          </dict>
          <key>i292387</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|117.20,17.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||</string>
          </dict>
          <key>i292393</key>
          <dict>
            <key>class</key>
            <string>asset17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||116.45,17.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
        </dict>
      </dict>
      <key>levelPackGift</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,579.65,760.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00132</real>
        <key>children</key>
        <dict>
          <key>get1</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>325.65,552.15,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>bg</key>
          <dict>
            <key>class</key>
            <string>sdad5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>goldtext3</key>
          <dict>
            <key>class</key>
            <string>BestScoreFont</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>151.20,365.00,0.00,1.00000,1.00000,1.00,14,0.00,0.00,Anja Eliane,20,#FFFFFF,left,66,44</string>
            <key>text</key>
            <string>x15</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i292255</key>
          <dict>
            <key>class</key>
            <string>bombbtn</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>423.50,370.80,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>i292262</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>252.85,562.40,0.00,1.00000,1.00000,1.00,15,0.00,0.00</string>
          </dict>
          <key>getState3</key>
          <dict>
            <key>class</key>
            <string>sdfas74</string>
            <key>zIndex</key>
            <integer>19</integer>
            <key>frames</key>
            <string>524.20,349.00,0.00,0.99998,0.99998,0.80,19,0.00,0.00</string>
          </dict>
          <key>i292258</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>140.25,452.45,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>goldtext2</key>
          <dict>
            <key>class</key>
            <string>BestScoreFont</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>153.20,459.00,0.00,1.00000,1.00000,1.00,12,0.00,0.00,Anja Eliane,20,#FFFFFF,left,66,44</string>
            <key>text</key>
            <string>x10</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i292282</key>
          <dict>
            <key>class</key>
            <string>stepbtn</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>346.55,372.45,0.00,1.00000,1.00000,1.00,16,0.00,0.00</string>
          </dict>
          <key>get2</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>325.65,453.15,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>closebtn</key>
          <dict>
            <key>class</key>
            <string>closebt</string>
            <key>zIndex</key>
            <integer>21</integer>
            <key>frames</key>
            <string>534.65,692.45,0.00,1.00000,1.00000,1.00,21,0.00,0.00</string>
          </dict>
          <key>i292194</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>326.10,502.80,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>getState1</key>
          <dict>
            <key>class</key>
            <string>sdfas74</string>
            <key>zIndex</key>
            <integer>18</integer>
            <key>frames</key>
            <string>524.20,548.40,0.00,1.00000,1.00000,0.80,18,0.00,0.00</string>
          </dict>
          <key>titlePage</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>20</integer>
            <key>frames</key>
            <string>322.15,630.75,0.00,1.00000,1.00000,1.00,20,0.00,0.00</string>
          </dict>
          <key>i292209</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>251.50,450.70,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i292260</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>138.25,356.90,0.00,1.00000,1.00000,1.00,13,0.00,0.00</string>
          </dict>
          <key>i292229</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>251.50,354.70,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>get3</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>326.15,349.65,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i292250</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>140.75,550.95,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i292252</key>
          <dict>
            <key>class</key>
            <string>stepbtn</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>348.55,467.30,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>getState2</key>
          <dict>
            <key>class</key>
            <string>sdfas74</string>
            <key>zIndex</key>
            <integer>17</integer>
            <key>frames</key>
            <string>524.20,449.70,0.00,0.99998,0.99998,0.80,17,0.00,0.00</string>
          </dict>
          <key>goldtext1</key>
          <dict>
            <key>class</key>
            <string>BestScoreFont</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>153.70,559.60,0.00,1.00000,1.00000,1.00,8,0.00,0.00,Anja Eliane,20,#FFFFFF,left,51,44</string>
            <key>text</key>
            <string>x5</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>sdfas74</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,77.00,65.00</string>
        <key>anchorX</key>
        <real>0.49351</real>
        <key>anchorY</key>
        <real>0.49231</real>
        <key>children</key>
        <dict>
          <key>i292401</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|38.50,32.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>BestScoreFont</key>
      <dict>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>28</integer>
        <key>size</key>
        <integer>25</integer>
        <key>chars</key>
        <string>x0123456789</string>
        <key>anchorX</key>
        <real>-0.23333</real>
        <key>anchorY</key>
        <real>1.21212</real>
      </dict>
    </dict>
  </dict>
</plist>