<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sdk_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,976},{43,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{43.00,39.00}</string>
      </dict>
      <key>sdk_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,884},{151,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{151.00,62.00}</string>
      </dict>
      <key>sdk_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,948},{68,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{68.00,26.00}</string>
      </dict>
      <key>sdk_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{501,538}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{501.00,538.00}</string>
      </dict>
      <key>sdk_0004</key>
      <dict>
        <key>frame</key>
        <string>{{504,1},{445,312}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{445.00,312.00}</string>
      </dict>
      <key>sdk_0005</key>
      <dict>
        <key>frame</key>
        <string>{{154,923},{89,101}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{89.00,101.00}</string>
      </dict>
      <key>sdk_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,541},{501,277}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{501.00,277.00}</string>
      </dict>
      <key>sdk_0007</key>
      <dict>
        <key>frame</key>
        <string>{{154,820},{100,101}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{100.00,101.00}</string>
      </dict>
      <key>sdk_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,820},{151,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{151.00,62.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>sdk.png</string>
      <key>realTextureFileName</key>
      <string>sdk.png</string>
      <key>textureFileName</key>
      <string>sdk.png</string>
      <key>size</key>
      <string>{1004,1040}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>ItemIcon1_2000</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.02326</real>
        <key>anchorY</key>
        <real>0.97564</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.55449</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50300</real>
        <key>anchorY</key>
        <real>0.49356</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,151.00,62.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i15017838</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,62.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,68.00,26.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i15017864</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,26.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,89.00,101.00</string>
        <key>anchorX</key>
        <real>0.49438</real>
        <key>anchorY</key>
        <real>0.48515</real>
        <key>children</key>
        <dict>
          <key>i15017890</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,101.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,151.00,62.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i15017916</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,62.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>jihuo_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,688.90,1027.70</string>
        <key>anchorX</key>
        <real>0.50109</real>
        <key>anchorY</key>
        <real>0.49766</real>
        <key>children</key>
        <dict>
          <key>i15017942</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>346.50,512.30,0.00,6.88898,10.27704,1.00,0,0.00,0.00</string>
          </dict>
          <key>i15017950</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>340.65,550.20,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>closebtn</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>557.30,729.65,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>decstr</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>127.20,685.40,0.00,1.00000,1.00000,1.00,5,0.00,0.00,Anja Eliane,30,#FFFFCC,center,427,302</string>
            <key>text</key>
            <string>lesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnkzdfn/sZDklfn</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i15017944</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>338.65,510.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>cgvbtn</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>510.20,359.20,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>okbtn</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>345.65,340.20,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>queren_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,656.60,1030.40</string>
        <key>anchorX</key>
        <real>0.49901</real>
        <key>anchorY</key>
        <real>0.50660</real>
        <key>children</key>
        <dict>
          <key>cgvbtn</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>449.15,404.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>decstr</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>116.20,687.95,0.00,1.00000,1.00000,1.00,6,0.00,0.00,Anja Eliane,30,#FFFFCC,center,427,277</string>
            <key>text</key>
            <string>lesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfc````nskldnfa/slkzdfn/sZDklfnkzdfn/sZDklfn</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i15017978</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>330.25,513.65,0.00,6.56598,10.30388,1.00,0,0.00,0.00</string>
          </dict>
          <key>i15017980</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>327.65,522.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i15017988</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>329.65,562.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>closebtn</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>244.65,352.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>okbtn</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>424.65,352.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>result_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,653.85,1008.15</string>
        <key>anchorX</key>
        <real>0.49644</real>
        <key>anchorY</key>
        <real>0.50498</real>
        <key>children</key>
        <dict>
          <key>i15018018</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>326.60,549.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>decstr</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>113.15,683.05,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Anja Eliane,25,#FFFFCC,center,427,302</string>
            <key>text</key>
            <string>lesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnkzdfn/sZDklfn</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i15018016</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>324.60,509.10,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i15018014</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>328.90,502.55,0.00,6.53838,10.08131,1.00,0,0.00,0.00</string>
          </dict>
          <key>okbtn</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>331.60,339.10,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>wait_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,698.25,1165.10</string>
        <key>anchorX</key>
        <real>0.50032</real>
        <key>anchorY</key>
        <real>0.48000</real>
        <key>children</key>
        <dict>
          <key>decstr</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>141.40,608.75,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Anja Eliane,25,#FFFFCC,center,415,115</string>
            <key>text</key>
            <string>lesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/sZDklfnlesjfcnskldnfa/slkzdfn/cnskldnfa/slkzdfn/</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i15018048</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>349.35,559.25,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i15018046</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>351.20,580.80,0.00,6.98242,11.65121,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>