<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sdk_shop_0000</key>
      <dict>
        <key>frame</key>
        <string>{{338,851},{85,86}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{85.00,86.00}</string>
      </dict>
      <key>sdk_shop_0001</key>
      <dict>
        <key>frame</key>
        <string>{{177,738},{159,165}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{159.00,165.00}</string>
      </dict>
      <key>sdk_shop_0002</key>
      <dict>
        <key>frame</key>
        <string>{{119,905},{23,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{23.00,26.00}</string>
      </dict>
      <key>sdk_shop_0003</key>
      <dict>
        <key>frame</key>
        <string>{{219,905},{23,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{23.00,26.00}</string>
      </dict>
      <key>sdk_shop_0004</key>
      <dict>
        <key>frame</key>
        <string>{{194,905},{23,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{23.00,26.00}</string>
      </dict>
      <key>sdk_shop_0005</key>
      <dict>
        <key>frame</key>
        <string>{{169,905},{23,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{23.00,26.00}</string>
      </dict>
      <key>sdk_shop_0006</key>
      <dict>
        <key>frame</key>
        <string>{{338,738},{100,101}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{100.00,101.00}</string>
      </dict>
      <key>sdk_shop_0007</key>
      <dict>
        <key>frame</key>
        <string>{{502,851},{43,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{43.00,39.00}</string>
      </dict>
      <key>sdk_shop_0008</key>
      <dict>
        <key>frame</key>
        <string>{{502,892},{42,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{42.00,39.00}</string>
      </dict>
      <key>sdk_shop_0009</key>
      <dict>
        <key>frame</key>
        <string>{{265,905},{18,11}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,11.00}</string>
      </dict>
      <key>sdk_shop_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,738},{174,165}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{174.00,165.00}</string>
      </dict>
      <key>sdk_shop_0011</key>
      <dict>
        <key>frame</key>
        <string>{{518,1},{38,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{38.00,33.00}</string>
      </dict>
      <key>sdk_shop_0012</key>
      <dict>
        <key>frame</key>
        <string>{{425,851},{75,68}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{75.00,68.00}</string>
      </dict>
      <key>sdk_shop_0013</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{515,735}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{515.00,735.00}</string>
      </dict>
      <key>sdk_shop_0014</key>
      <dict>
        <key>frame</key>
        <string>{{440,738},{98,111}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{98.00,111.00}</string>
      </dict>
      <key>sdk_shop_0015</key>
      <dict>
        <key>frame</key>
        <string>{{265,918},{17,17}}</string>
        <key>offset</key>
        <string>{-3.00,-7.00}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0016</key>
      <dict>
        <key>frame</key>
        <string>{{518,398},{24,36}}</string>
        <key>offset</key>
        <string>{-0.50,1.50}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0017</key>
      <dict>
        <key>frame</key>
        <string>{{518,587},{20,35}}</string>
        <key>offset</key>
        <string>{-0.50,2.00}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0018</key>
      <dict>
        <key>frame</key>
        <string>{{518,474},{24,36}}</string>
        <key>offset</key>
        <string>{-0.50,1.50}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0019</key>
      <dict>
        <key>frame</key>
        <string>{{518,248},{25,36}}</string>
        <key>offset</key>
        <string>{0.00,1.50}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0020</key>
      <dict>
        <key>frame</key>
        <string>{{518,361},{24,35}}</string>
        <key>offset</key>
        <string>{-0.50,2.00}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0021</key>
      <dict>
        <key>frame</key>
        <string>{{518,436},{24,36}}</string>
        <key>offset</key>
        <string>{-0.50,1.50}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0022</key>
      <dict>
        <key>frame</key>
        <string>{{518,211},{25,35}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0023</key>
      <dict>
        <key>frame</key>
        <string>{{518,550},{23,35}}</string>
        <key>offset</key>
        <string>{0.00,2.00}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0024</key>
      <dict>
        <key>frame</key>
        <string>{{518,512},{24,36}}</string>
        <key>offset</key>
        <string>{-0.50,1.50}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0025</key>
      <dict>
        <key>frame</key>
        <string>{{518,286},{25,35}}</string>
        <key>offset</key>
        <string>{0.00,2.00}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0026</key>
      <dict>
        <key>frame</key>
        <string>{{244,905},{19,21}}</string>
        <key>offset</key>
        <string>{-3.00,-9.00}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0027</key>
      <dict>
        <key>frame</key>
        <string>{{518,323},{24,36}}</string>
        <key>offset</key>
        <string>{-0.50,1.50}</string>
        <key>sourceSize</key>
        <string>{25.00,39.00}</string>
      </dict>
      <key>sdk_shop_0028</key>
      <dict>
        <key>frame</key>
        <string>{{518,36},{29,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
      <key>sdk_shop_0029</key>
      <dict>
        <key>frame</key>
        <string>{{144,905},{23,32}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
      <key>sdk_shop_0030</key>
      <dict>
        <key>frame</key>
        <string>{{518,176},{27,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
      <key>sdk_shop_0031</key>
      <dict>
        <key>frame</key>
        <string>{{518,71},{27,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
      <key>sdk_shop_0032</key>
      <dict>
        <key>frame</key>
        <string>{{1,905},{29,31}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
      <key>sdk_shop_0033</key>
      <dict>
        <key>frame</key>
        <string>{{518,141},{27,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
      <key>sdk_shop_0034</key>
      <dict>
        <key>frame</key>
        <string>{{32,905},{27,32}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
      <key>sdk_shop_0035</key>
      <dict>
        <key>frame</key>
        <string>{{61,905},{27,32}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
      <key>sdk_shop_0036</key>
      <dict>
        <key>frame</key>
        <string>{{518,106},{27,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
      <key>sdk_shop_0037</key>
      <dict>
        <key>frame</key>
        <string>{{90,905},{27,32}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{29.00,33.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>sdk_shop.png</string>
      <key>realTextureFileName</key>
      <string>sdk_shop.png</string>
      <key>textureFileName</key>
      <string>sdk_shop.png</string>
      <key>size</key>
      <string>{618,938}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.51294</real>
        <key>anchorY</key>
        <real>0.88488</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.07264</real>
        <key>anchorY</key>
        <real>0.91576</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50217</real>
        <key>anchorY</key>
        <real>0.42885</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50217</real>
        <key>anchorY</key>
        <real>0.42885</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50217</real>
        <key>anchorY</key>
        <real>0.42885</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50217</real>
        <key>anchorY</key>
        <real>0.42885</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a1667</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50300</real>
        <key>anchorY</key>
        <real>0.49356</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.02326</real>
        <key>anchorY</key>
        <real>0.97564</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01310</real>
        <key>anchorY</key>
        <real>0.97564</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50115</real>
        <key>anchorY</key>
        <real>0.49758</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00303</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.28867</real>
        <key>anchorY</key>
        <real>0.71029</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49320</real>
        <key>anchorY</key>
        <real>0.50136</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,172.45,163.85</string>
        <key>anchorX</key>
        <real>0.49986</real>
        <key>anchorY</key>
        <real>0.50015</real>
        <key>children</key>
        <dict>
          <key>i20997389</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>46.25,137.35,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i20997368</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>69.15,91.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>pricetxt</key>
          <dict>
            <key>class</key>
            <string>countFont</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>15.20,53.35,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Anja Eliane,25,#FFFFFF,center,132,50</string>
            <key>text</key>
            <string>9.99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>counttxt</key>
          <dict>
            <key>class</key>
            <string>numFont</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>42.45,163.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Anja Eliane,25,#FFFFFF,center,95,50</string>
            <key>text</key>
            <string>999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i20997360</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>86.20,81.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,98.00,111.00</string>
        <key>anchorX</key>
        <real>0.51071</real>
        <key>anchorY</key>
        <real>0.49099</real>
        <key>children</key>
        <dict>
          <key>i20997415</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,111.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,172.45,164.05</string>
        <key>anchorX</key>
        <real>0.49986</real>
        <key>anchorY</key>
        <real>0.49954</real>
        <key>children</key>
        <dict>
          <key>i20997441</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>86.20,81.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i20997463</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>71.65,99.15,0.00,1.22308,1.22281,1.00,9,0.00,0.00</string>
          </dict>
          <key>i20997465</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>54.50,77.35,0.00,1.22308,1.22281,1.00,10,0.00,0.00</string>
          </dict>
          <key>i20997467</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>54.50,83.65,0.00,1.22308,1.22281,1.00,11,0.00,0.00</string>
          </dict>
          <key>i20997469</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>51.05,90.25,0.00,1.22308,1.22281,1.00,12,0.00,0.00</string>
          </dict>
          <key>i20997471</key>
          <dict>
            <key>class</key>
            <string>a28</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>50.30,106.70,0.00,1.72000,1.72000,1.00,13,0.00,0.00</string>
          </dict>
          <key>i20997481</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>18</integer>
            <key>frames</key>
            <string>68.25,55.35,0.00,1.22308,1.22281,1.00,18,0.00,0.00</string>
          </dict>
          <key>i20997473</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>99.15,64.75,0.00,1.22308,1.22281,1.00,14,0.00,0.00</string>
          </dict>
          <key>i20997475</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>88.85,58.90,0.00,1.22308,1.22281,1.00,15,0.00,0.00</string>
          </dict>
          <key>i20997477</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>88.85,65.10,0.00,1.22308,1.22281,1.00,16,0.00,0.00</string>
          </dict>
          <key>i20997451</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>50.30,106.70,0.00,1.72000,1.72000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i20997449</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>46.25,137.35,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i20997453</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>99.15,78.50,0.00,1.22308,1.22281,1.00,4,0.00,0.00</string>
          </dict>
          <key>i20997479</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>17</integer>
            <key>frames</key>
            <string>88.85,70.90,0.00,1.22308,1.22281,1.00,17,0.00,0.00</string>
          </dict>
          <key>i20997455</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>99.15,84.70,0.00,1.22308,1.22281,1.00,5,0.00,0.00</string>
          </dict>
          <key>i20997457</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>99.15,90.45,0.00,1.22308,1.22281,1.00,6,0.00,0.00</string>
          </dict>
          <key>i20997459</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>71.65,87.20,0.00,1.22308,1.22281,1.00,7,0.00,0.00</string>
          </dict>
          <key>i20997461</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>71.65,93.30,0.00,1.22308,1.22281,1.00,8,0.00,0.00</string>
          </dict>
          <key>pricetxt</key>
          <dict>
            <key>class</key>
            <string>countFont</string>
            <key>zIndex</key>
            <integer>19</integer>
            <key>frames</key>
            <string>15.20,54.10,0.00,1.00000,1.00000,1.00,19,0.00,0.00,Anja Eliane,25,#FFFFFF,center,131,50</string>
            <key>text</key>
            <string>9.99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>counttxt</key>
          <dict>
            <key>class</key>
            <string>numFont</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>38.65,164.05,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Anja Eliane,25,#FFFFFF,center,95,50</string>
            <key>text</key>
            <string>999</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,172.45,163.85</string>
        <key>anchorX</key>
        <real>0.49986</real>
        <key>anchorY</key>
        <real>0.50015</real>
        <key>children</key>
        <dict>
          <key>i20997507</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>86.20,81.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i20997515</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>47.55,114.15,0.00,0.52496,0.52496,1.00,1,0.00,0.00</string>
          </dict>
          <key>i20997517</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>46.25,137.35,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>counttxt</key>
          <dict>
            <key>class</key>
            <string>numFont</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>40.95,162.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Anja Eliane,25,#FFFFFF,center,95,50</string>
            <key>text</key>
            <string>999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>pricetxt</key>
          <dict>
            <key>class</key>
            <string>countFont</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>15.20,52.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Anja Eliane,25,#FFFFFF,center,130,50</string>
            <key>text</key>
            <string>9.99</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,172.45,163.85</string>
        <key>anchorX</key>
        <real>0.49986</real>
        <key>anchorY</key>
        <real>0.50015</real>
        <key>children</key>
        <dict>
          <key>i20997543</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>86.20,81.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i20997551</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>172.05,112.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i20997553</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>46.25,137.35,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>counttxt</key>
          <dict>
            <key>class</key>
            <string>numFont</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>40.95,162.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Anja Eliane,25,#FFFFFF,center,95,50</string>
            <key>text</key>
            <string>999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>pricetxt</key>
          <dict>
            <key>class</key>
            <string>countFont</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>15.20,52.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Anja Eliane,25,#FFFFFF,center,130,50</string>
            <key>text</key>
            <string>9.99</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>sdkshop_as</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,730.30,1010.05</string>
        <key>anchorX</key>
        <real>0.48644</real>
        <key>anchorY</key>
        <real>0.51032</real>
        <key>children</key>
        <dict>
          <key>btn1</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>460.75,565.55,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i20997579</key>
          <dict>
            <key>class</key>
            <string>a1667</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>367.35,503.50,0.00,7.30302,10.10028,1.00,0,0.00,0.00</string>
          </dict>
          <key>btn0</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>250.75,565.55,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i20997581</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>355.25,515.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>closebtn</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>560.80,748.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>btn3</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>460.75,391.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>btn2</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>250.90,390.25,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>countFont</key>
      <dict>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>27</integer>
        <key>size</key>
        <integer>32</integer>
        <key>chars</key>
        <string>.0123456789,€</string>
        <key>anchorX</key>
        <real>-0.32000</real>
        <key>anchorY</key>
        <real>1.28205</real>
      </dict>
      <key>numFont</key>
      <dict>
        <key>start</key>
        <integer>28</integer>
        <key>end</key>
        <integer>37</integer>
        <key>size</key>
        <integer>25</integer>
        <key>chars</key>
        <string>0123456789</string>
        <key>anchorX</key>
        <real>-0.24138</real>
        <key>anchorY</key>
        <real>1.21212</real>
      </dict>
    </dict>
  </dict>
</plist>