/* Place your styles here */

.ad
{
	width:300px; /* Sets the width for the ad */
	height:250px; /* Sets the height for the ad */
	overflow:hidden; /* Makes it so anything inside the ad doesn't spill outside of the ad */
	position:relative; /* Makes it easier for us to position elements inside the ad */
	background-color:#efefef; /* Sets a background color for the entire ad */
	color:#3A3A3A; /* Sets a basic font and outline color for the entire ad */
}

*, input, button
{
	font-family:"Roboto Slab";
}

.h1-background
{
	color:white;
	background-color:#4285F4;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
}

h1
{
	position:relative;
}

.company-logo
{
	width:50px;
	position:relative;
	top:10px;
}

button
{
	padding:10px 20px; /* give the button some padding */
	font-size:24px; /* expand the font size */
	background-color:#4285F4;
	border:none;	/* Remove the default border */
	color:white;	
	margin:auto;	/* Centers the button */
	margin-top:10px;
	display:block;
	position:relative;	/* Position relatively for animation */
	cursor:pointer;
	border-radius:50px; /* Give the button a rounded look */
	cursor:pointer;
}